html {
  font-size: 62.5%;
}
.site-container::-webkit-scrollbar {
  width: 14px;
}
.site-container::-webkit-scrollbar-track {
  background: url("https://assets.website-files.com/5e83fdebae1ad8747ffce684/5e864de332df030389abf5bd_pattern-grey.svg");
  background-size: 6px;
  border-left: 4px solid #000000;
}
.site-container::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border: 4px solid #000000;
  border-right: none;
}
.site-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.site-container::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
.header {
  width: calc(100% - 16px);
}
.site-container {
  height: calc(100vh - 68px);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: -4px;
  margin-bottom: -4px;
}
@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 24px);
  }
}
@media screen and (min-width: 991px) {
  .header {
    width: calc(100% - 40px);
  }
  .site-container::-webkit-scrollbar {
    width: 24px;
  }
}

@font-face {
  font-family: "Departure Mono";
  /* font-style: normal;
    font-weight: 400;
    font-display: fallback; */
  src: url("https://s0.wp.com/wp-content/themes/pub/streamer/assets/fonts/departure-mono/departure-mono_normal_400.woff2")
    format("woff2");
}

* {
  font-family: "Departure Mono" !important;
}

.about-me {
  text-align: center;
}

.section.projects {
  height: auto;
  padding-top: 120px;
}

.heading-jumbo {
  margin-bottom: 20px;
}

.button.w-button {
  margin-bottom: 5px;
}

.button.active {
  background-color: #111;
  color: #fff;
}

.contact {
  font-size: 3rem;
}

.quick-links-wrapper {
  margin-top: 20px;
}

.title-section {
  margin-bottom: 40px;
}

.a-link {
  text-decoration: none;
}

.modal-body {
  overflow-wrap: anywhere;
  align-items: center;
}

.section.blog-posts {
  height: auto;
}

.section.hero-section {
  padding-top: 120px;
}

ul > li {
  margin-bottom: 20px;
}

.logo {
  filter: grayscale(1);
  margin: 15px;
}

@media (max-width: 1024px) {
  .heading-jumbo {
    font-size: 5rem;
  }

  .subhead.space-bottom-36 {
    font-size: 16px;
    line-height: 20px;
  }

  .button {
    padding: 12px 18px;
    font-size: 16px;
    line-height: 10px;
  }

  .title-section {
    font-size: 40px;
    font-weight: bold;
  }

  .section.small-section {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  h1 {
    font-size: 4rem;
  }

  .subhead {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .grid-halves {
    grid-template-columns: 1fr !important;
  }

  .row-space-between {
    flex-direction: row;
    align-items: flex-start;
  }

  .container-width-medium {
    width: 100% !important;
    padding: 0px !important;
    max-width: 100% !important;
  }

  .title-writeup-detail {
    font-size: 27px !important;
    margin-top: 0px !important;
  }

  .rich-text-block p {
    font-size: 14px !important;
    line-height: 2rem !important;
  }

  .rich-text-block h3 {
    font-size: 16px !important;
    font-weight: bold;
    line-height: normal;
  }

  .rich-text-block h4 {
    font-size: 15px !important;
    font-weight: bold;
    line-height: normal;
  }

  .rich-text-block h1 {
    font-size: 25px !important;
    font-weight: bold;
    line-height: normal;
  }

  .rich-text-block h2 {
    font-size: 19px !important;
    font-weight: bold;
    line-height: normal;
  }

  blockquote {
    font-size: 14px !important;
  }

  figcaption {
    font-size: 10px !important;
    line-height: normal;
  }

  ul {
    font-size: 14px !important;
    line-height: normal;
  }

  .w-richtext ol {
    font-size: 14px !important;
  }
}

.title-writeup-detail {
  margin-top: 40px;
}
/* 
.pw-post-title, .speechify-ignore{
    display: none !important;
} */

.title-writeup {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

.read-writeup {
  padding: 5px 20px;
}

.grid-halves.writeup {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 35px;
}

.list-writeup {
  padding-top: 45px !important;
}

.container-width-medium {
  width: 100%;
  padding: 3px 40px;
  max-width: 100%;
}

.writtenby {
  font-size: 50%;
}

.title-writeup-detail {
  font-size: 5rem;
}

.area-detail-writeup video {
  width: 100%;
  height: auto;
}

.area-detail-writeup iframe {
  max-width: 100%;
  width: 100%;
  height: 500px;
}

.area-detail-writeup {
  border-bottom: none !important;
}

.w-richtext:before,
.w-richtext:after {
  display: none !important;
  opacity: 0 !important;
}

.rich-text-block img {
  filter: none !important;
  height: auto !important;
  width: 100% !important;
}

.area-writeup img {
  width: 100% !important;
  align-items: center;
}

.w-richtext figure {
  max-width: fit-content !important;
  width: 100% !important;
}

figure {
  margin: auto;
  margin-bottom: 35px;
}

figcaption {
  font-size: 12px;
  line-height: normal;
}

.tabs-wrapper {
  max-width: 500px;
  width: 100%;
}

.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}
.tabs li {
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: 0.25s;
}
.tabs li:hover {
  border-color: #111;
  color: #fff;
  background-color: #111;
}
.tabs li.active {
  border-color: #111;
  color: #fff;
  background-color: #111;
}

.tab-content {
  display: none;
  padding: 15px 20px;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}
.tab-content h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
.tab-content p {
  font-size: 16px;
  line-height: 1.6;
}

.modal-thumbnail {
  filter: none !important;
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.modal-wrapper {
  margin-top: 30px !important;
}

.footer-custom {
  padding: 10px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote p {
  margin-bottom: 0px !important;
}

.rich-text-block h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
}

.rich-text-block h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: normal;
}

.rich-text-block h4 {
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
}

.rich-text-block h1 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: normal;
}

.rich-text-block h2 {
  font-size: 27px;
  margin-bottom: 17px;
  font-weight: bold;
  line-height: normal;
}

.input-custom {
  border: solid 4px black;
  padding: 5px;
}

.submit-ctf {
  margin-top: 10px;
}

.clue-list > li {
  margin-bottom: -5px !important;
}
